#saludo{
    background-color: white;
    grid-column: 1 / span 2;
}

input[type='checkbox']{
    height: 25px;
    width: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 2px solid red;
    border-radius: 4px;
    cursor: none;
}

input[type='checkbox']:checked {
    border: 1px solid #975d27;
    background-color: #b85bbb;
}