body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(70,205,252,0.7931372378052783) 100%); 
}

#container{
    background-color: white;
}

input[type='checkbox']{
    height: 25px;
    width: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 2px solid red;
    border-radius: 4px;
    cursor: none;
}

input[type='checkbox']:checked {
    border: 1px solid #975d27;
    background-color: #b85bbb;
}