body{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(70,205,252,0.7931372378052783) 100%); 
}

.container{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
    justify-items: center;
    height: 100vh;
}